/* Admin styles for the DNS Programs Plugin */

.group:before,
.group:after {
	clear: both;
	content: ' ';
	display: table;
}

.hide {
	display: none;
}

.left {
	float: left;
}

.red {
	color: red;
}

.right {
	float: right;
}

.post-new-php #insert-media-button,
.post-new-php #category-adder,
.post-php #insert-media-button,
.post-php #category-adder {
	display: none; 
}

#postdivrich.edit-form-section {
	margin-bottom: 0;
}

.counter-wrapper {
	background-color: #F7F7F7;
	border: 1px solid #DEDEDE;
	border-top: 0 none;
	margin-bottom: 20px;
}

#edit-character-count,
#title-character-count {
	display: table-cell;
	background-color: #F7F7F7;
	border-right: 1px solid #DEDEDE;
	font-size: 12px;
	padding: 2px 10px;
}

.setting {
	margin: 5px 0;
}

.setting > label {
	display: inline-block;
	width: 150px;
}

label.error {
	color: red;
	padding-left: 5px;
	min-width: 100px;
	width: auto;
}

#post_age_ranges {
	display: block;
}

#teacherschecklist li {
	width: 235px;
}

.teachers-other {
	margin-bottom: 5px;
}

input[name="dns_price_details"] {
	width: 100%;
}

.days_inner, .frequency_inner, .months_inner {
	margin-left: 4px;
}

#days_container .days_inner label {
	display: block;
	min-width: 100px;
}

#days_container, #month_container {
	margin-top: 5px;
}

#month_container label {
	line-height: 28px;
	margin-bottom: 5px;
	min-width: 155px;
}

#dns_start_time, #dns_end_time {
	width: 87px;
}

.notice {
    background-color: #333;
    border: 1px solid #999;
    border-radius: 5px;
    color: #bbb;
	padding: 10px;
}

.edit-tags-php th#slug {
	width: 20%;
}

.edit-tags-php th#posts {
	width: 15%;
}

/* Quick Edit Styles */
.inline-editor .inline-edit-col-right {
	display: none;
}

#wpbody-content .inline-editor fieldset.inline-edit-col-program {
	display: block;
	margin: 10px 0 0 5px;
}

#wpbody-content .inline-editor fieldset.inline-edit-col-right.inline-edit-col-program {
	margin-top: 5px;
}
	
.inline-editor .inline-edit-col-program legend {
	font-weight: bold;
}

.inline-editor .inline-edit-col-left.inline-edit-col-program {
	clear: left;
}

.inline-editor .inline-edit-col-right.inline-edit-col-program span.title {
	width: 100px;
}

.inline-editor .inline-edit-col-left.inline-edit-col-program span.title {
	width: 70px;
}

.inline-editor .inline-edit-col-center.inline-edit-col-program span.title {
	width: 100px;
}

#wpbody-content .inline-editor fieldset.inline-edit-col-center.inline-edit-col-program {
	display: none;
}
